/*search container*/
.campo {background-color:#1995cc;}

/*toggle*/

.slider {
  overflow-y:hidden;
  max-height: 5em;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
  max-height:0px;
}

/*Search bar*/
input{
  border:none;
  padding:10px 0px;
  background:none;
  color:white;
  outline:none;
  border-bottom:1px solid white;
  width:80%;
  font-size:26px;
  font-weight: 300;
}

form{
  padding:10px;
  text-align:center;
  position:relative;
  transition:background-color 500ms linear;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.3;
}


button.busca{
  background:none;
  border:none;
}

.sbtn{
  font-size:36px;
  color:white;
}

.btn-search{
  background:#08f;
  position:absolute;
  display:inline-block;
  width:50px;
  height:50px;
  left:40px;
  line-height:50px;
  text-align:center;
  color:white;
}